.btn {
    padding: 7px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.btn:hover {
    border: 2px solid #0066FF;
    cursor: pointer;
    background-color: #fff;
    color: #0066FF;
}

input {
    height: 31px;
    width: 29%;
    padding-left: 10px;
    margin: 30px 0 40px 30px;
}